@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    position: relative;
    font-family: "Poppins", sans-serif;
    margin: 0 !important;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}
.strong{
    font-weight: bold;
}
.pd-text{
    padding-left: 20px;
    font-weight: 400;
}
.mb{
    display: none;
}
.nav-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
}
.mountain-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 0 52px;
}
.karma-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0 100px 60px 100px;
    position: absolute;
    top: 85%;
}
.karma-content h1{
    font-size: 40px;
    font-weight: 700;
}
.karma-content > span{
    width: 100%;
    font-weight: 600;
    font-size: 28px;
}
.karma-content p{
    width: 100%;
}
.karma-content ul{
    width: 100%;
}
.karma-content_img{
    width: 60%;
    height: 50%;
    margin: 50px auto;
}
.karma-content_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.karma-content ul li{
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.karma-content ul {
    font-size: 20px;
}
#karma-content_en p{
    font-size: 20px;
    font-weight: 400;
}
#karma-content_cn ul li {
    font-size: 16px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 50px;   
}
th, td {
    padding: 8px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 320px;
    right: 0;
    z-index: -1;
}
.bg img{
    width: 100%;
    height: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin-top: 52px;
    padding: 0 72px;
    position: relative;
    z-index: 10000;
    overflow: visible;
}
#header .logo{
    width: 105px;
    height: 100%;
    position: relative;
    animation: moveHeader 1.5s;
    cursor: pointer;
}
#header .logo a{
    cursor: pointer;
    width: 100%;
    height: 100%;
}
#header .logo img{
    object-fit: cover;
    width: 100%;
}
#header .nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 100%;
    position: relative;
    animation: moveHeader 1.5s;
    cursor: pointer;
    gap: 20px;
    flex-wrap: nowrap;
}
#header .nav a{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
}
#header .nav .nav-faq{
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}
#header .nav .nav-faq a{
    text-decoration: none;
    display: flex;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
}
#header .nav .nav-language{
    position: relative;
}
#header .nav .nav-faq a:hover{
    color: #000;
    transition: all .3s ease-in-out ;
}
#header .nav .nav-language #lang-submenu{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    height: fit-content;
    width: 100%;
    top: 150%;
    z-index: 1000;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
    border-radius: 4px;
    background: #D9D9D9 !important;
}
#header .nav .nav-language #lang-submenu.hidden{
    display: none ;
}
#header .nav .nav-language #lang-submenu .lang{
    text-align: center;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    height: 100%;
}
#header .nav .nav-language #lang-submenu .lang:hover,
#header .nav .nav-language #lang-submenu .lang.active{
    text-decoration: underline;
    text-align: center;
    color: #000;
}
#header .nav .nav-language #lang-toggle{
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-weight: 700;
    height: 100%;
    font-size: 24px;
}
#header .nav .nav-language #lang-submenu .lang{
    color: #fff;
}
#header .nav .nav-language #lang-toggle:hover{
    color: #000;
    transition: all .3s ease-in-out ;
}
#container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: 25px;
    animation: moveContainer 1.5s;
}
#container .title{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#container .title span{
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;                               
}
#container .sun{
    width: 143px;
    height: 143px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#container .sun img{
    width: 100%;
    height: 100%;
}
.mountain{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: relative;
    margin-top: 30px;
}
.mountain img{
    width: 100%;
}
.mountain .road{
    position: absolute;
    height: 68%;
    width: 100%;
    top: 3%;
    z-index: 100;
}
.mountain .road #donation-data{
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    bottom: 2%;
    left: 24%;
}
.road1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 2vw;
    height: 100%;
    opacity: 1;
    animation: fadeIn 2s forwards ease-in-out;
    z-index: 10;
}
.road1 svg{
    width: 55%;
    transition: all 1s linear;
    height: 100%;
}
.road1 svg path{
    transition: all 1s linear;
}
.line {
    animation: fillIn 0.5s ease forwards;
}
.my-label {
    position: absolute;
    transform: translate(-50%, -50%);
  }
@keyframes fillIn {
    to {
        fill: #f5f5f5;
        stroke: #f5f5f5;
    }
}
.karma-content{
    width: 100%;
    display: flex;
}
.karma-content p{
    color: #000;
}
.hidden{
    display: none;
}
@media (min-width: 1920px){
    #header .logo{
        width: 105px;
    } 
}
@media (min-width: 1440px){
    #header .logo{
        width: 100px;
        height: 80px;
    } 
}
@media (max-width: 1440px){
    #header .nav .nav-language #lang-toggle{
        font-size: 20px;
    }
    #header .nav .nav-faq a{
        font-size: 20px;
    }
    #header {
        padding: 0 53px 0 72px;
        position: relative;
    }
    #header .logo{
        width: 80px;
    }
    .bg{
        bottom: 25%;
    }
    #container .sun{
        width: 133px;
        height: 133px;
    }
    .mountain{
        margin-top: 20px;
        overflow: hidden;
        max-height: 90vh;
    }
    #container .title{
        gap: 5rem;
    }
    .mountain .road svg{
        max-height: 675px;
    }
    .mountain .road span{
        bottom: 10px;
    }
    .mountain-container #header .nav .nav-faq,
    .mountain-container #header .nav .nav-language #lang-toggle {
        font-size: 22px !important;
    }
    .mountain-container #header .nav .nav-language #lang-submenu{
        font-size: 22px !important;
    }
}
@media (max-width: 1200px) {
    #header .logo {
        width: 70px;
    }
    #main{
        padding-top: 42px;
    }
    .nav-language #lang-submenu .lang{
        font-size: 20px !important;
    } 
    .karma-content{
        padding: 0 60px 60px ;
    }
    #container .title{
        width: 60%;
    }
    #container .title span{
        letter-spacing: 4px;
        font-size: 32px;
        font-weight: 700;
        color: #FFFFFF;
    }
    #container .sun{
        width: 115px;
        height: 115px;
    }
    #header .logo{
        width: 70px;
    }
    .bg{
        bottom: 25%;
    }
    .mountain{
        max-height: 80vh;
    }
    .mountain-container{
        padding: 0 0 32px;
    }
    .mountain-container #header .nav .nav-faq,
    .mountain-container #header .nav .nav-language #lang-toggle {
        font-size: 20px !important;
    }
    .mountain-container #header .nav .nav-language #lang-submenu{
        font-size: 20px !important;
    }
}
@media (max-width: 990px){
    #main{
        padding-top: 32px;
    }
    .karma-content h1{
        font-size: 36px;
    }
    .karma-content ul li {
        font-size: 16px !important;
    }
    .karma-content ul {
        font-size: 16px !important;
    }
    .karma-content{
        gap: 15px;
    }
    .karma-content p {
        font-size: 16px !important;
    }
    .karma-content .strong {
        font-size: 16px !important;
    }
    .karma-content span {
        font-size: 22px !important;
    }
    .karma-content_img{
        width: 80%;
    }
    .nav .nav-faq a,
    .nav-language #lang-toggle{
        font-size: 20px !important;
    }
    .nav-language #lang-submenu .lang{
        font-size: 18px !important;
    } 
    #header {
        padding: 0 40px;
    }
    #header .logo{
        width: 65px;
    }
    #container .sun{
        width: 90px;
        height: 90px;
    }
    .mountain-container {
        padding: 0 0 30px;
    }
    .karma-content{
        top: 80%;
    }
    #container .title{
        width: 55%;
    }
    #container .title span{
        letter-spacing: 4px;
        font-size: 28px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .mountain{
        max-height: 55vh;
    }
    .mountain-container #header .nav .nav-faq,
    .mountain-container #header .nav .nav-language #lang-toggle {
        font-size: 18px !important;
    }
    .mountain-container #header .nav .nav-language #lang-submenu{
        font-size: 18px !important;
    }
}
@media (max-width: 868px){
    .karma-content{
        top: 72%;
    }
}
@media (max-width: 768px) {
    .mountain-container #header .nav .nav-faq,
    .mountain-container #header .nav .nav-language #lang-toggle {
        font-size: 16px !important;
    }
    .mountain-container #header .nav .nav-language #lang-submenu{
        font-size: 16px !important;
    }
    #header .logo{
        width: 60px;
    }
    .karma-content{
        padding: 0 30px 60px ;
        top: 85%;
    }
    #container .title{
        width: 70%;
        span{
            letter-spacing: 4px;
            font-size: 32px;
            font-weight: 700;
            color: #FFFFFF;
        }
    }
    .mountain {
        max-height: 695px;
        height: 695px;
    }
    .mountain img{
        display: block;
        object-fit: cover;
    }
    .mountain .road span{
        left: 15%;
    }
    #container .title img{
        height: 25px;
    }
    #container .sun{
        height: 120px;
        width: 120px;
    }
    .road1 svg{
        width: 100%;
    }
}
@media (max-width: 640px) {
    .mountain-container{
        padding: 0 !important;
    }
    .mountain-container #header .nav .nav-faq,
    .mountain-container #header .nav .nav-language #lang-toggle {
        font-size: 16px !important;
    }
    .mountain-container #header .nav .nav-language #lang-submenu{
        font-size: 16px !important;
    }
    svg text{
        font-size: 21px;
        font-weight: bold;
    }
    .nav .nav-faq a,
    .nav-language #lang-toggle{
        font-size: 16px !important;
    }
    .nav-language #lang-submenu .lang{
        font-size: 16px !important;
    } 

    #header .nav .nav-language #lang-submenu {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        padding: 10px;
        height: fit-content;
        background: rgb(217, 217, 217) !important;

    }
    #header {
        padding: 0px 30px;
        margin-top: 30px !important;
    }
    .mountain .pc{
        display: none !important;
    }
    .mountain .mb{
        display: flex !important;
    }

    #header .nav .nav-language form #lang-switch{
        font-size: 14px;
    }
    #header .logo{
        width: 50px;
    }
    .mountain .road{
        left: 0%;
        top: 3%;
    }
    .road1{
        overflow: hidden;
    }
    .road1 svg{
        padding-left: 0;
        max-width: 100%;
    }
    .karma-content{
        gap: 12px !important;
    }
    .karma-content ul li {
        font-size: 14px !important;
    }
    .karma-content ul {
        font-size: 14px !important;
    }
    .karma-content p {
        font-size: 14px !important;
    }
    .karma-content .strong {
        font-size: 14px !important;
    }
    .karma-content span {
        font-size: 18px !important;
    }
    .karma-content_img{
        width: 100%;
    }
    .karma-content {
        top: 90%;
    }
    #container .title span{
        font-size: 24px;
    }
    #container .sun{
        width: 90px;
        height: 90px;
    }
    table tbody tr th, td {
        font-size: 13px !important;
    }
    #header .nav .nav-language #lang-submenu {
        top: 120% !important;
    }
}
@media (max-width: 450px) {
    .mountain-container #header .nav .nav-faq,
    .mountain-container #header .nav .nav-language #lang-toggle {
        font-size: 14px !important;
    }
    .mountain-container #header .nav .nav-language #lang-submenu{
        font-size: 14px !important;
    }
    #header .nav {
        gap: 10px !important;
    }
    .nav .nav-faq a,
    .nav-language #lang-toggle{
        font-size: 15px !important;
    }
    .nav-language #lang-submenu .lang{
        font-size: 14px !important;
    } 
    .karma-content {
        top: 88%;
    }
    #main {
        padding-top: 20px;
    }
    table tbody tr th, td {
        font-size: 9px !important;
    }
    .pd-text{
        padding-left: 10px;
    }
    .karma-content{
        gap: 10px;
    }
    .karma-content h1{
        font-size: 30px;
    }
    .karma-content ul li {
        font-size: 13px !important;
    }
    .karma-content ul {
        font-size: 13px !important;
    }
    .karma-content p {
        font-size: 13px !important;
    }
    .karma-content .strong {
        font-size: 13px !important;
    }
    .karma-content span {
        font-size: 16px !important;
    }
    #header{
        height: 50px;
        padding: 0 20px 0 20px;
        margin-top: 20px !important;
    }
    #header .logo{
        width: 40px;
        display: flex;
        align-items: center;
        padding-top: 0;
    }
    #header .nav .nav-language{
        width: 100%;
        height: 35px;
    }
    #header .nav .nav-language form #lang-switch{
        padding: 0;
        font-size: 12px;
        width: 100%;
        opacity: .8;
    }
    #container .title{
        width: 100%;
        gap: 5rem;
    }
    #container .title span{
        letter-spacing: 3px;
        color: #FFFFFF;
    }
    .mountain .road{
        top: 3.5%;
    }
    .mountain .road .road1{
        padding: 0;
    }
    #container .sun{
        height: 90px;
        width: 90px;
    }
    #container .title img{
        height: 15px;
    }
    .mountain{
        height: 695px;
        overflow: hidden;
        margin-top: 20px;
    }
    .mountain img{
        display: block;
        object-fit: cover;
    }
    #container .sun{
        transform: translateX(-48%);
    }
    .karma-content{
        padding: 0 18px 20px 18px;
    }
    .karma-content_img{
        width: 100%;
        margin: 20px 0;
    }
    table{
        margin-bottom: 20px;
        font-size: 50%;
    }
    #container{
        margin-top: 35px;
    }
    #header .nav .nav-language #lang-submenu {
        top: 100% !important;
    }
}
@keyframes moveHeader {
    from {top: 1000px;}
    to {top: 0px;}
}
@keyframes moveContainer {
  from {top: 200px;}
  to {top: 0px;}
}
@keyframes moveHeaderM {
    from {top: 1000px;}
    to {top: 50%;transform: translateY(-50%)}
}
@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        z-index: 1;
    }
}
